body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.praia {
    background-image: linear-gradient(to bottom, #fff, #f7f7f7);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.praia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.caracteristicas {
    background-color: #f7f7f7;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caracteristicas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.caracteristicas li {
    margin-bottom: 10px;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}



































